@import "./MediaCard/index.css";
@import "./Carousel/index.css";

.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 95px;
    padding-bottom: 80px;
}
