.app {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app > *:not(.header) {
    flex: 1;
}

img[data-loading="true"], video[data-loading="true"] {
    background: url('/images/loadingSpinner.svg') no-repeat center;
    background-size: 50px;
}