@import "./MediaDescription/index.css";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content__media__container {
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    animation: fadeIn 1.2s ease-in-out;
}

.content__media__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}