.contact-dialog__title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-dialog__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 35px;
    padding-top: 15px;
}

@media screen and (max-width: 768px) {
    .contact-dialog__title-wrapper {
        padding: 0 35px;
    }

    .contact-dialog__title {
        font-size: 48px;
        line-height: 62px;
    }

    button.contact-dialog__close {
        margin-right: 70px !important;
        width: 24px !important;
        height: 24px !important;
    }

    button.contact-dialog__close::before {
        width: 24px;
        height: 24px;

    }
}

@media screen and (max-width: 480px) {
    .contact-dialog__title {
        font-size: 32px;
        line-height: 41px;
        text-align: center;
        padding-left: 0;
    }
}

button.contact-dialog__close {
    appearance: none;
    border: none;
    width: 42px;
    height: 42px;
    background-color: transparent;
    margin-top: 35px;
    margin-right: 35px;
    cursor: pointer;
    padding: 0 !important;
}

.contact-dialog__close::before {
    display: block;
    content: "";
    width: 42px;
    height: 42px;
    background: url("/images/Vector.svg") no-repeat center;
    background-size: contain;
}